---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro'; 

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="kr">
<head>
	<BaseHead title={title} description={description} />
	<style>
		main {
			@apply w-[calc(100%-2rem)] max-w-full m-0;
		}
		
		.hero-image {
			@apply w-full;
		}
		
		.hero-image img {
			@apply block mx-auto rounded-xl shadow-custom;
		}
		
		.prose {
			@apply w-[720px] max-w-[calc(100%-2rem)] mx-auto p-4 text-gray-800;
		}

		:global(.dark) .prose{
			@apply w-[720px] max-w-[calc(100%-2rem)] mx-auto p-4 text-white;
		}
		
		.title {
			@apply py-4 text-left leading-none;
		}
		
		.title h1 {
			@apply mb-2;
		}
		
		.date {
			@apply mb-2 text-gray-500;
		}

		:global(.dark) .date{
			@apply mb-2 text-gray-200;
		}
		
		.last-updated-on {
			@apply mt-2 italic;
		}

	</style>
</head>

<body>
	<Header />
	<main>
		<article>
			<div class="prose">
				<div class="title">
					<div class="date">
						<FormattedDate date={pubDate} />
					</div>
					<h2>{title}</h2>
					<hr />
					{
						updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
						)
					}
				</div>
				<slot />
			</div>
		</article>
	</main>
	<Footer />
</body>
</html>
